<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Produto</title>
</head>
<body>
  <h1>{{product.title}}</h1>
  <p>{{product.description}}</p>
  <p>Preço: ${{product.price}}</p>
  <p>Estoque: {{product.stock}}</p>
  <p>Categoria: {{product.category}}</p>
  <img src="{{product.thumbnails}}" alt="{{product.title}}">
</body>
</html>
