<h1>Produtos</h1>
<ul>
    {{#each products}}
    <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Preço: {{this.price}}</p>
        <button onclick="addToCart('{{this._id}}')">Adicionar ao carrinho</button>
        <a href="/views/products/{{this._id}}">Ver detalhes</a>
    </li>
    {{/each}}
</ul>
<p>Página {{page}} de {{totalPages}}</p>
{{#if hasPrevPage}}
<a href="?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página Anterior</a>
{{/if}}
{{#if hasNextPage}}
<a href="?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Próxima Página</a>
{{/if}}
<script>
    function addToCart(productId) {
        const socket = io();
        socket.emit('addToCart', { productId: productId, quantity: 1 });
        socket.on('cartUpdated', (data) => {
            alert(data.message);
        });
    }
</script>
